
\.vs/

XepDash/bin/

XepDash/obj/

XepDash\.Business/bin/

XepDash\.Business/obj/

XepDash\.Data/bin/

XepDash\.Data/obj/

XepDash\.UI/bin/

XepDash\.UI/obj/

XepDash\.Core/bin/

XepDash\.Core/obj/

XepDash\.Infrastructure/bin/

XepDash\.Infrastructure/obj/
